$border-color: #E3E7EB
$font-color: #828F9F
$accent-color: #00AAFF
$first-day-of-month-border-color: #9CA9BA

.calendar-cell
  display: flex
  flex-direction: column
  flex: 1
  overflow: hidden
  width: calc(100%/7)
  border-right: 1px solid $border-color
  border-bottom: 1px solid $border-color
  text-align: right
  font-size: 12px
  line-height: 18px
  box-sizing: border-box
  color: $font-color
  position: relative
  padding: 15px
  min-height: 93px

  &:last-child
    border-right: none

  &_actual-day

    &:hover .calendar-cell__btn-container
      visibility: visible

  &__day
    padding-bottom: 10px
    position: relative

    &_first-day
      text-transform: lowercase

      &:before
        content: ''
        height: 2px
        width: 120%
        background-color: $first-day-of-month-border-color
        position: absolute
        left: -15px
        top: -15px

  &__btn-container
    visibility: hidden

  &__btn
    width: 100%

  &__input
    width: 100%

  &_focus
    border: 1px double $accent-color
    box-sizing: border-box

    .calendar-cell__day
      color: $accent-color
