$border-color: #E3E7EB
$font-color: #828F9F

.calendar-view
  display: table
  width: 100%
  border-collapse: collapse

  &__weekday
    display: table-cell
    width: calc(100%/7)
    border-top: 1px solid $border-color
    border-bottom: 1px solid $border-color
    font-size: 12px
    line-height: 100%
    color: $font-color
    text-align: center
    padding: 4px 15px
    box-sizing: border-box
    white-space: nowrap
    height: 20px

.calendar-row
  display: table-row
