$border-color: #E3E7EB
$font-color: #828F9F
$table-header-bg-color: #fff

.calendar-view
  display: block

  &__weekdays
    display: flex
    padding-top: 105px
    position: fixed
    width: 100%
    background-color: $table-header-bg-color
    z-index: 8

  &__weekday
    display: block
    width: calc(100%/7)
    border-bottom: 1px solid $border-color
    font-size: 12px
    line-height: 100%
    color: $font-color
    text-align: center
    padding: 4px 15px
    box-sizing: border-box
    white-space: nowrap
    height: 20px

  &__content
    display: block
    padding-top: 125px
    width: 100%
    overflow: scroll
    height: 100vh

.calendar-row
  display: flex
