$hint-text-color: #7f84f7
$help-text-color: #3e4b64
$error-color: #eb5757
$bg-color: #fff

.login-form
  position: relative
  display: block

  &__container
    background: $bg-color
    border-radius: 5px
    padding: 30px
    box-shadow: 0 2px 4px rgba(39, 40, 55, .1)

  &__error
    position: absolute
    color: $error-color
    font-size: 12px
    margin: 0
    top: -2rem

    svg
      width: 14px
      top: 2px
      position: relative
      margin-right: 5px

  &__btn
    width: 100%

  &__control

    &_hint
      margin: 20px 0
      position: relative

  &__hint
    position: absolute
    bottom: 5rem
    left: 0
    color: $hint-text-color
    line-height: 18px
    font-size: 12px
    text-decoration: none

  &__help
    display: flex
    justify-content: space-between
    padding: 21px 20px

    .login-form__help-text
      font-size: 12px
      line-height: 100%
      color: $help-text-color

.login-social-network
  display: block

  &__text
    text-align: center
    color: $help-text-color
    opacity: .5
    font-size: 12px
    line-height: 100%
    margin: 0
    padding: 20px 0

  &__btn
    display: flex
    justify-content: center
