server {

    listen {{ http_port }};
    server_name {{ http_host }};
    client_max_body_size 25m;

    location /robots.txt {
        echo "User-Agent: *";
        echo "Disallow: /";
    }

    location / {
        add_header Cache-Control no-cache;
        root {{ root_dir }}/webroot;
        try_files $uri @django;
    }

    location @django {
        proxy_pass          http://localhost:8000;
        proxy_set_header    Host $host;
        proxy_set_header    X-Real-IP $remote_addr;
    }

}
