.tab-bar
  display: block

  &__nav
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 20px

.tab-bar-nav
  position: relative
  display: flex

.tab-container
  position: relative
