@import 'fonts'
@import "libs"
@import 'vars'

html, body
	height: 100%
  	font-size: 62.5% //1rem = 10px

body
  font-size: 1.6rem
  min-height: 100%
  height: 100%
  color: $default-font-color
  background: $main-bg-color
  min-width: 320px
  position: relative
  font-family: $default-font
  overflow-x: scroll
  width: 100%

@import "media" // in the end
